# EPIC 4 - Become a Carer - T29.1 - Carer Status by Sex, Age
This Jupyter Notebook is about preparing 'Number of primary carers, by age and sex, 2018' CSV file for being used in Mo-Buddy Website Solution.
1. Read Raw Data
2. Clean Raw Data
3. Export Clean Data

- Table_29.1 - Carer status by sex, age
- Table_30.1 - Carer status, recipient, disability status, age, sex
- Table_31.1 - Carer status, by geographic location, age, sex
- Table_32.1 - 15-.. yo, carer status, sex 
- Table_33.1 - Employed 15-64 yo, carer status, sex 
- Table_34.1 - Primary Carer, recipient, age, sex
- Table_35.1 - Carer and recipient living in or other households, age
- Table_36.1 - Primary Carer, Time spending in care, sex  ****
- Table_37.1 - Primary Carer, age, time spending in care, disability status, ***** 
- Table_38.1 - Primary Carer, time spending in care, select recipint   ****
- Table_39.1 - Primary Carer, reason for taking a carer, sex   ****
- Table_40.1 - Primary Carer, reason for taking a carer, age of recipient ****
- Table_41.1 - Primary Carer, satisfaction of service recieved, sex, age  ****
- Table_42.1 - Primary Carer, social community participation with recipient, time spending in car, age  ****
- Table_43.1 - Primary Carer, social community participation without recipient, time spending in car, age  ****

In [29]:
# Import Packages
import pandas as pd
import itertools
import re

In [30]:
# Set option to display all columns
pd.set_option('display.max_columns', None)

## 1. Read in Raw Data from a XLS file

In [31]:
# Function for reading in raw data from a XLS file
def read_in_data(file_path, sheet_name):
    """
    Function for reading in raw data from XLS file.
    Inputs: 
        - file_path, type: string, desc: XLS file path
        - sheet_name, type: string, desc: Sheet Name
    Outputs:
        - raw_data, type: dataframe, desc: Raw data
    """

    raw_data = pd.read_excel(io=file_path, sheet_name=sheet_name)
    
    return raw_data

In [32]:
# Read in data
filepath_raw_data = 'DataBases/44300do030.xls'
sheet_name = 'Table_29.1'
df_raw_carer_29 = read_in_data(filepath_raw_data, sheet_name)

In [33]:
# Check how the dataframe looks like
df_raw_carer_29

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"44300DO030_2018 Disability, Ageing and Carers,...",NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) Thurs 24 O...,NaN,NaN,NaN,NaN,NaN
2,"Table 29.1 All persons, living in households, ...",NaN,NaN,NaN,NaN,NaN
3,Age group (years),Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
4,"ESTIMATE ('000, years)",NaN,NaN,NaN,NaN,NaN
5,Males,NaN,NaN,NaN,NaN,NaN
6,Less than 15,NaN,20.2,20.2,2372.5,2393.2
7,15-24,7,86.8,95.4,1502.8,1597.7
8,25-34,14.4,98.9,116.5,1700.1,1814.5
9,35-44,22.6,110.1,132.2,1486,1618.6
10,45-54,50.1,164.5,218.9,1318.1,1536.6
11,55-64,57,170.6,228.5,1162.5,1390.2
12,65-74,46.5,138,185.4,888.6,1074.5
13,75 and over,42.7,92.7,132.4,561,696.5
14,Total,241.9,887.6,1128.6,10992.7,12123.1
15,Average age (years),58.4,50.4,52.1,36,37.5
16,NaN,NaN,NaN,NaN,NaN,NaN
17,Females,NaN,NaN,NaN,NaN,NaN
18,Less than 15,NaN,27.3,27.3,2241.3,2267.2
19,15-24,13.7,78.7,94.4,1432.5,1526.9
20,25-34,60.6,90.2,152.8,1704.1,1859.4
21,35-44,105.9,132.9,236.5,1422.3,1658.8
22,45-54,148.3,191.4,342.5,1271.8,1612.5
23,55-64,148.9,186.3,332.7,1133.8,1466.9
24,65-74,101.1,129.8,229.6,902.1,1130.9
25,75 and over,39.1,60.4,100.4,730,830
26,Total,618.8,896,1513,10836.2,12347.8
27,Average age (years),52.7,49.1,50.6,37.1,38.8
28,NaN,NaN,NaN,NaN,NaN,NaN
29,All persons,NaN,NaN,NaN,NaN,NaN
30,Less than 15,NaN,46.3,46.3,4612,4660.8
31,15-24,18.6,169.1,187.8,2935.3,3123.6
32,25-34,77,191.7,268.2,3405.2,3672.8
33,35-44,129,242.5,370.6,2907.9,3279.3
34,45-54,199.9,357.3,558.6,2587.7,3148.2
35,55-64,203.9,357.4,562.1,2296.7,2859.2
36,65-74,148,266.2,413.3,1790.8,2206.2
37,75 and over,80.8,151.5,233.9,1291,1524.9
38,Total,861.6,1784.5,2645.6,21828.9,24472.3
39,Average age (years),54.3,49.7,51.2,36.5,38.1
40,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN
42,© Commonwealth of Australia 2019,NaN,NaN,NaN,NaN,NaN

## 2. Clean up Raw Data

In [34]:
# Drop useless rows and columns
col_names = df_raw_carer_29.iloc[3,:]
df_carer_29 = df_raw_carer_29.copy()
df_carer_29.drop(labels=[0,1,2,4,5,16,17,28,29,40,41,42], axis=0, inplace=True)
df_carer_29.reset_index(drop=True, inplace=True)
df_carer_29.columns = col_names
df_carer_29.columns.names = ['']
df_carer_29

,Age group (years),Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
0,Age group (years),Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
1,Less than 15,NaN,20.2,20.2,2372.5,2393.2
2,15-24,7,86.8,95.4,1502.8,1597.7
3,25-34,14.4,98.9,116.5,1700.1,1814.5
4,35-44,22.6,110.1,132.2,1486,1618.6
5,45-54,50.1,164.5,218.9,1318.1,1536.6
6,55-64,57,170.6,228.5,1162.5,1390.2
7,65-74,46.5,138,185.4,888.6,1074.5
8,75 and over,42.7,92.7,132.4,561,696.5
9,Total,241.9,887.6,1128.6,10992.7,12123.1
10,Average age (years),58.4,50.4,52.1,36,37.5
11,Less than 15,NaN,27.3,27.3,2241.3,2267.2
12,15-24,13.7,78.7,94.4,1432.5,1526.9
13,25-34,60.6,90.2,152.8,1704.1,1859.4
14,35-44,105.9,132.9,236.5,1422.3,1658.8
15,45-54,148.3,191.4,342.5,1271.8,1612.5
16,55-64,148.9,186.3,332.7,1133.8,1466.9
17,65-74,101.1,129.8,229.6,902.1,1130.9
18,75 and over,39.1,60.4,100.4,730,830
19,Total,618.8,896,1513,10836.2,12347.8
20,Average age (years),52.7,49.1,50.6,37.1,38.8
21,Less than 15,NaN,46.3,46.3,4612,4660.8
22,15-24,18.6,169.1,187.8,2935.3,3123.6
23,25-34,77,191.7,268.2,3405.2,3672.8
24,35-44,129,242.5,370.6,2907.9,3279.3
25,45-54,199.9,357.3,558.6,2587.7,3148.2
26,55-64,203.9,357.4,562.1,2296.7,2859.2
27,65-74,148,266.2,413.3,1790.8,2206.2
28,75 and over,80.8,151.5,233.9,1291,1524.9
29,Total,861.6,1784.5,2645.6,21828.9,24472.3
30,Average age (years),54.3,49.7,51.2,36.5,38.1

In [35]:
# Reset index and prepare for adding multiindex (in column)
df_carer_29.rename(columns={df_carer_29.columns[0]:'Index'}, inplace=True)
df_carer_29.set_index(keys='Index', drop=True, inplace=True)
df_carer_29

,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
Index,,,,,
Age group (years),Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
Less than 15,NaN,20.2,20.2,2372.5,2393.2
15-24,7,86.8,95.4,1502.8,1597.7
25-34,14.4,98.9,116.5,1700.1,1814.5
35-44,22.6,110.1,132.2,1486,1618.6
45-54,50.1,164.5,218.9,1318.1,1536.6
55-64,57,170.6,228.5,1162.5,1390.2
65-74,46.5,138,185.4,888.6,1074.5
75 and over,42.7,92.7,132.4,561,696.5
Total,241.9,887.6,1128.6,10992.7,12123.1
Average age (years),58.4,50.4,52.1,36,37.5
Less than 15,NaN,27.3,27.3,2241.3,2267.2
15-24,13.7,78.7,94.4,1432.5,1526.9
25-34,60.6,90.2,152.8,1704.1,1859.4
35-44,105.9,132.9,236.5,1422.3,1658.8
45-54,148.3,191.4,342.5,1271.8,1612.5
55-64,148.9,186.3,332.7,1133.8,1466.9
65-74,101.1,129.8,229.6,902.1,1130.9
75 and over,39.1,60.4,100.4,730,830
Total,618.8,896,1513,10836.2,12347.8
Average age (years),52.7,49.1,50.6,37.1,38.8
Less than 15,NaN,46.3,46.3,4612,4660.8
15-24,18.6,169.1,187.8,2935.3,3123.6
25-34,77,191.7,268.2,3405.2,3672.8
35-44,129,242.5,370.6,2907.9,3279.3
45-54,199.9,357.3,558.6,2587.7,3148.2
55-64,203.9,357.4,562.1,2296.7,2859.2
65-74,148,266.2,413.3,1790.8,2206.2
75 and over,80.8,151.5,233.9,1291,1524.9
Total,861.6,1784.5,2645.6,21828.9,24472.3
Average age (years),54.3,49.7,51.2,36.5,38.1

In [36]:
# Adding multiIndex (in column)
# first_level = ['Males', 'Females', 'All persons']
# second_level = list(df_carer_29.columns.unique())
# levels = [first_level, second_level]
# df_carer_29.columns = pd.MultiIndex.from_product(levels, names=['Gender', 'Age'])
df_carer_29.reset_index(inplace=True)
df_carer_29

,Index,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
0,Age group (years),Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
1,Less than 15,NaN,20.2,20.2,2372.5,2393.2
2,15-24,7,86.8,95.4,1502.8,1597.7
3,25-34,14.4,98.9,116.5,1700.1,1814.5
4,35-44,22.6,110.1,132.2,1486,1618.6
5,45-54,50.1,164.5,218.9,1318.1,1536.6
6,55-64,57,170.6,228.5,1162.5,1390.2
7,65-74,46.5,138,185.4,888.6,1074.5
8,75 and over,42.7,92.7,132.4,561,696.5
9,Total,241.9,887.6,1128.6,10992.7,12123.1
10,Average age (years),58.4,50.4,52.1,36,37.5
11,Less than 15,NaN,27.3,27.3,2241.3,2267.2
12,15-24,13.7,78.7,94.4,1432.5,1526.9
13,25-34,60.6,90.2,152.8,1704.1,1859.4
14,35-44,105.9,132.9,236.5,1422.3,1658.8
15,45-54,148.3,191.4,342.5,1271.8,1612.5
16,55-64,148.9,186.3,332.7,1133.8,1466.9
17,65-74,101.1,129.8,229.6,902.1,1130.9
18,75 and over,39.1,60.4,100.4,730,830
19,Total,618.8,896,1513,10836.2,12347.8
20,Average age (years),52.7,49.1,50.6,37.1,38.8
21,Less than 15,NaN,46.3,46.3,4612,4660.8
22,15-24,18.6,169.1,187.8,2935.3,3123.6
23,25-34,77,191.7,268.2,3405.2,3672.8
24,35-44,129,242.5,370.6,2907.9,3279.3
25,45-54,199.9,357.3,558.6,2587.7,3148.2
26,55-64,203.9,357.4,562.1,2296.7,2859.2
27,65-74,148,266.2,413.3,1790.8,2206.2
28,75 and over,80.8,151.5,233.9,1291,1524.9
29,Total,861.6,1784.5,2645.6,21828.9,24472.3
30,Average age (years),54.3,49.7,51.2,36.5,38.1

In [37]:
# Dropping useless rows
df_carer_29_1 = df_carer_29.copy()
df_carer_29_1.drop(labels=[0] , axis=0, inplace=True)
df_carer_29_1.reset_index(drop=True, inplace=True)
df_carer_29_1

,Index,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
0,Less than 15,NaN,20.2,20.2,2372.5,2393.2
1,15-24,7,86.8,95.4,1502.8,1597.7
2,25-34,14.4,98.9,116.5,1700.1,1814.5
3,35-44,22.6,110.1,132.2,1486,1618.6
4,45-54,50.1,164.5,218.9,1318.1,1536.6
5,55-64,57,170.6,228.5,1162.5,1390.2
6,65-74,46.5,138,185.4,888.6,1074.5
7,75 and over,42.7,92.7,132.4,561,696.5
8,Total,241.9,887.6,1128.6,10992.7,12123.1
9,Average age (years),58.4,50.4,52.1,36,37.5
10,Less than 15,NaN,27.3,27.3,2241.3,2267.2
11,15-24,13.7,78.7,94.4,1432.5,1526.9
12,25-34,60.6,90.2,152.8,1704.1,1859.4
13,35-44,105.9,132.9,236.5,1422.3,1658.8
14,45-54,148.3,191.4,342.5,1271.8,1612.5
15,55-64,148.9,186.3,332.7,1133.8,1466.9
16,65-74,101.1,129.8,229.6,902.1,1130.9
17,75 and over,39.1,60.4,100.4,730,830
18,Total,618.8,896,1513,10836.2,12347.8
19,Average age (years),52.7,49.1,50.6,37.1,38.8
20,Less than 15,NaN,46.3,46.3,4612,4660.8
21,15-24,18.6,169.1,187.8,2935.3,3123.6
22,25-34,77,191.7,268.2,3405.2,3672.8
23,35-44,129,242.5,370.6,2907.9,3279.3
24,45-54,199.9,357.3,558.6,2587.7,3148.2
25,55-64,203.9,357.4,562.1,2296.7,2859.2
26,65-74,148,266.2,413.3,1790.8,2206.2
27,75 and over,80.8,151.5,233.9,1291,1524.9
28,Total,861.6,1784.5,2645.6,21828.9,24472.3
29,Average age (years),54.3,49.7,51.2,36.5,38.1

In [38]:
levels_names = df_carer_29_1['Index'].unique()
levels_names

array(['Less than 15', '15-24', '25-34', '35-44', '45-54', '55-64',
       '65-74', '75 and over', 'Total', 'Average age (years)'],
      dtype=object)

In [39]:
first_level = ['Males', 'Females', 'All persons']
first_level

['Males', 'Females', 'All persons']

In [40]:
second_level = levels_names
second_level

array(['Less than 15', '15-24', '25-34', '35-44', '45-54', '55-64',
       '65-74', '75 and over', 'Total', 'Average age (years)'],
      dtype=object)

In [41]:
# Adding multiIndex (in index)
levels_all = list(itertools.product(first_level, second_level))
multi_index = pd.MultiIndex.from_tuples(levels_all, names=['Sex', 'Age'])
df_carer_29_1.set_index(keys=multi_index, drop=True, inplace=True)
df_carer_29_1.drop(columns='Index', axis=1, inplace=True)
df_carer_29_1

                                Primary carer Carer, but not a primary carer  \
Sex         Age
Males       Less than 15                  NaN                           20.2
            15-24                           7                           86.8
            25-34                        14.4                           98.9
            35-44                        22.6                          110.1
            45-54                        50.1                          164.5
            55-64                          57                          170.6
            65-74                        46.5                            138
            75 and over                  42.7                           92.7
            Total                       241.9                          887.6
            Average age (years)          58.4                           50.4
Females     Less than 15                  NaN                           27.3
            15-24                        13.7                           78.7
            25-34                        60.6                           90.2
            35-44                       105.9                          132.9
            45-54                       148.3                          191.4
            55-64                       148.9                          186.3
            65-74                       101.1                          129.8
            75 and over                  39.1                           60.4
            Total                       618.8                            896
            Average age (years)          52.7                           49.1
All persons Less than 15                  NaN                           46.3
            15-24                        18.6                          169.1
            25-34                          77                          191.7
            35-44                         129                          242.5
            45-54                       199.9                          357.3
            55-64                       203.9                          357.4
            65-74                         148                          266.2
            75 and over                  80.8                          151.5
            Total                       861.6                         1784.5
            Average age (years)          54.3                           49.7

                                Total carers Not a carer    Total
Sex         Age
Males       Less than 15                20.2      2372.5   2393.2
            15-24                       95.4      1502.8   1597.7
            25-34                      116.5      1700.1   1814.5
            35-44                      132.2        1486   1618.6
            45-54                      218.9      1318.1   1536.6
            55-64                      228.5      1162.5   1390.2
            65-74                      185.4       888.6   1074.5
            75 and over                132.4         561    696.5
            Total                     1128.6     10992.7  12123.1
            Average age (years)         52.1          36     37.5
Females     Less than 15                27.3      2241.3   2267.2
            15-24                       94.4      1432.5   1526.9
            25-34                      152.8      1704.1   1859.4
            35-44                      236.5      1422.3   1658.8
            45-54                      342.5      1271.8   1612.5
            55-64                      332.7      1133.8   1466.9
            65-74                      229.6       902.1   1130.9
            75 and over                100.4         730      830
            Total                       1513     10836.2  12347.8
            Average age (years)         50.6        37.1     38.8
All persons Less than 15                46.3        4612   4660.8
            15-24                      187.8      2935.3   3123.6
            25-34                      268.2      3405.2   3672.8
            35-44                      370.6      2907.9   3279.3
            45-54                      558.6      2587.7   3148.2
            55-64                      562.1      2296.7   2859.2
            65-74                      413.3      1790.8   2206.2
            75 and over                233.9        1291   1524.9
            Total                     2645.6     21828.9  24472.3
            Average age (years)         51.2        36.5     38.1

In [42]:
# Inpute missing values
nan_index = df_carer_29_1['Primary carer'].isna()
df_carer_29_1.loc[nan_index, 'Primary carer'] = 0
df_carer_29_1

                                Primary carer Carer, but not a primary carer  \
Sex         Age
Males       Less than 15                    0                           20.2
            15-24                           7                           86.8
            25-34                        14.4                           98.9
            35-44                        22.6                          110.1
            45-54                        50.1                          164.5
            55-64                          57                          170.6
            65-74                        46.5                            138
            75 and over                  42.7                           92.7
            Total                       241.9                          887.6
            Average age (years)          58.4                           50.4
Females     Less than 15                    0                           27.3
            15-24                        13.7                           78.7
            25-34                        60.6                           90.2
            35-44                       105.9                          132.9
            45-54                       148.3                          191.4
            55-64                       148.9                          186.3
            65-74                       101.1                          129.8
            75 and over                  39.1                           60.4
            Total                       618.8                            896
            Average age (years)          52.7                           49.1
All persons Less than 15                    0                           46.3
            15-24                        18.6                          169.1
            25-34                          77                          191.7
            35-44                         129                          242.5
            45-54                       199.9                          357.3
            55-64                       203.9                          357.4
            65-74                         148                          266.2
            75 and over                  80.8                          151.5
            Total                       861.6                         1784.5
            Average age (years)          54.3                           49.7

                                Total carers Not a carer    Total
Sex         Age
Males       Less than 15                20.2      2372.5   2393.2
            15-24                       95.4      1502.8   1597.7
            25-34                      116.5      1700.1   1814.5
            35-44                      132.2        1486   1618.6
            45-54                      218.9      1318.1   1536.6
            55-64                      228.5      1162.5   1390.2
            65-74                      185.4       888.6   1074.5
            75 and over                132.4         561    696.5
            Total                     1128.6     10992.7  12123.1
            Average age (years)         52.1          36     37.5
Females     Less than 15                27.3      2241.3   2267.2
            15-24                       94.4      1432.5   1526.9
            25-34                      152.8      1704.1   1859.4
            35-44                      236.5      1422.3   1658.8
            45-54                      342.5      1271.8   1612.5
            55-64                      332.7      1133.8   1466.9
            65-74                      229.6       902.1   1130.9
            75 and over                100.4         730      830
            Total                       1513     10836.2  12347.8
            Average age (years)         50.6        37.1     38.8
All persons Less than 15                46.3        4612   4660.8
            15-24                      187.8      2935.3   3123.6
            25-34                      268.2      3405.2   3672.8
            35-44                      370.6      2907.9   3279.3
            45-54                      558.6      2587.7   3148.2
            55-64                      562.1      2296.7   2859.2
            65-74                      413.3      1790.8   2206.2
            75 and over                233.9        1291   1524.9
            Total                     2645.6     21828.9  24472.3
            Average age (years)         51.2        36.5     38.1

## 3. Export Clean Data to a CSV file

In [43]:
# Export full version
df_carer_29_1.to_csv('Output\EPIC4_T29_1_V1.csv', index=True)