# EPIC 4 - Become a Carer - T32.1 - Carer Status, Economy, Social Characteristic, Sex
This Jupyter Notebook is about preparing 'Number of primary carers, by age and sex, 2018' CSV file for being used in Mo-Buddy Website Solution.
1. Read Raw Data
2. Clean Raw Data
3. Export Clean Data

- Table_29.1 - Carer status by sex, age
- Table_30.1 - Carer status, recipient, disability status, age, sex
- Table_31.1 - Carer status, by geographic location, age, sex
- Table_32.1 - 15-.. yo, carer status, sex 
- Table_33.1 - Employed 15-64 yo, carer status, sex 
- Table_34.1 - Primary Carer, recipient, age, sex
- Table_35.1 - Carer and recipient living in or other households, age
- Table_36.1 - Primary Carer, Time spending in care, sex  ****
- Table_37.1 - Primary Carer, age, time spending in care, disability status, ***** 
- Table_38.1 - Primary Carer, time spending in care, select recipint   ****
- Table_39.1 - Primary Carer, reason for taking a carer, sex   ****
- Table_40.1 - Primary Carer, reason for taking a carer, age of recipient ****
- Table_41.1 - Primary Carer, satisfaction of service recieved, sex, age  ****
- Table_42.1 - Primary Carer, social community participation with recipient, time spending in car, age  ****
- Table_43.1 - Primary Carer, social community participation without recipient, time spending in car, age  ****

In [1]:
# Import Packages
import pandas as pd
import itertools
# import re

In [2]:
# Set option to display all columns
pd.set_option('display.max_columns', None)

## 1. Read in Raw Data from a XLS file

In [3]:
# Function for reading in raw data from a XLS file
def read_in_data(file_path, sheet_name):
    """
    Function for reading in raw data from XLS file.
    Inputs: 
        - file_path, type: string, desc: XLS file path
        - sheet_name, type: string, desc: Sheet Name
    Outputs:
        - raw_data, type: dataframe, desc: Raw data
    """

    raw_data = pd.read_excel(io=file_path, sheet_name=sheet_name)
    
    return raw_data

In [4]:
# Read in data
filepath_raw_data = 'DataBases/44300do030.xls'
sheet_name = 'Table_32.1'
df_raw_carer_32 = read_in_data(filepath_raw_data, sheet_name)

In [5]:
# Check how the dataframe looks like
df_raw_carer_32.head(75)

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"44300DO030_2018 Disability, Ageing and Carers,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11.30am (Canberra time) Thurs 24 O...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Table 32.1 Persons aged 15 years and over, liv...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Males,NaN,NaN,NaN,NaN,Females,NaN,NaN,NaN,NaN,All persons,NaN,NaN,NaN,NaN
4,NaN,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Highest quintile,19.7,94.2,112.6,1439.4,1552.9,44.7,94.6,139.2,1274.6,1415.6,64,189.2,254.4,2716.3,2969
71,Income not known,66.3,259.4,324.4,2546.2,2871.5,174.2,258.1,434.5,2485.8,2920.4,241.4,518.4,758.5,5031.6,5792.9
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Median gross personal income per week ($),500,900,774.5,1036,1000,540,623,575.9,690,671,525,729,633,863,820
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Clean up Raw Data

In [6]:
miss_idx = df_raw_carer_32['Unnamed: 2'].isna()
missing_idx = df_raw_carer_32.loc[miss_idx,:].index.values
missing_idx

array([  0,   1,   2,   3,   5,   6,   7,  14,  16,  17,  23,  24,  25,
        27,  30,  32,  34,  35,  36,  43,  45,  46,  52,  53,  54,  56,
        59,  61,  63,  64,  65,  72,  74,  75,  81,  82,  83,  88,  94,
        97,  98, 101, 107, 108, 119, 121, 122, 123], dtype=int64)

In [7]:
# Drop useless rows and columns
col_names = df_raw_carer_32.iloc[4,:]
df_carer_32 = df_raw_carer_32.copy()
df_carer_32.drop(missing_idx, axis=0, inplace=True)
df_carer_32.reset_index(drop=True, inplace=True)
df_carer_32.columns = col_names
df_carer_32.columns.names = ['']
df_carer_32

,NaN,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
0,NaN,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
1,Lowest quintile,23.8,58.5,81.9,547.4,629,70.3,76.1,144.5,626.4,773.3,91.5,133.6,227,1175.8,1401.9
2,Second quintile,36.5,96.8,132.3,655.4,786.8,100.7,107.3,209.1,696.3,905.9,134,204.1,339,1352.7,1690.8
3,Third quintile,23.1,98.3,122,1167.8,1286.5,73.4,103.3,176.7,1133.7,1311.9,96.6,200.7,296.9,2301.1,2599.3
4,Fourth quintile,11.3,102.5,115,1265.2,1379.2,56.7,96.9,153.6,1237.5,1389.8,70.5,197.6,266.4,2502.3,2768.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Year 11,11.3,42.1,52.5,404.5,459.9,24.4,50,76.4,428.6,504.5,34,92.6,128,832.7,964.4
72,Year 10 or below,64,170.5,236.8,1434.6,1667.8,147.4,183.8,329.9,1720.6,2050.6,212.8,355.6,566.7,3152.1,3720.6
73,Level not determined,10.7,36.7,46.5,275.5,320.7,21.7,33.2,54.9,332.2,387.1,34.2,70.3,102.3,606,707.4
74,No educational attainment,0,2.3,2.4,22.9,24,1.9,2.6,4.9,41.7,45.8,3.5,3.8,7.3,64,71.1
75,Total,241.9,867,1109.3,8621.2,9729.5,618.8,870.4,1487,8594.9,10083.7,861.6,1736.5,2596.7,17216.5,19811

In [8]:
# Reset index and prepare for adding multiindex (in column)
df_carer_32.rename(columns={df_carer_32.columns[0]:'Index'}, inplace=True)
df_carer_32.set_index(keys='Index', drop=True, inplace=True)
df_carer_32

,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
Index,,,,,,,,,,,,,,,
NaN,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total,Primary carer,"Carer, but not a primary carer",Total carers,Not a carer,Total
Lowest quintile,23.8,58.5,81.9,547.4,629,70.3,76.1,144.5,626.4,773.3,91.5,133.6,227,1175.8,1401.9
Second quintile,36.5,96.8,132.3,655.4,786.8,100.7,107.3,209.1,696.3,905.9,134,204.1,339,1352.7,1690.8
Third quintile,23.1,98.3,122,1167.8,1286.5,73.4,103.3,176.7,1133.7,1311.9,96.6,200.7,296.9,2301.1,2599.3
Fourth quintile,11.3,102.5,115,1265.2,1379.2,56.7,96.9,153.6,1237.5,1389.8,70.5,197.6,266.4,2502.3,2768.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year 11,11.3,42.1,52.5,404.5,459.9,24.4,50,76.4,428.6,504.5,34,92.6,128,832.7,964.4
Year 10 or below,64,170.5,236.8,1434.6,1667.8,147.4,183.8,329.9,1720.6,2050.6,212.8,355.6,566.7,3152.1,3720.6
Level not determined,10.7,36.7,46.5,275.5,320.7,21.7,33.2,54.9,332.2,387.1,34.2,70.3,102.3,606,707.4
No educational attainment,0,2.3,2.4,22.9,24,1.9,2.6,4.9,41.7,45.8,3.5,3.8,7.3,64,71.1
Total,241.9,867,1109.3,8621.2,9729.5,618.8,870.4,1487,8594.9,10083.7,861.6,1736.5,2596.7,17216.5,19811

In [9]:
# Adding multiIndex (in column)
first_level = ['Males', 'Females', 'All persons']
second_level = list(df_carer_32.columns.unique())
levels = [first_level, second_level]
df_carer_32.columns = pd.MultiIndex.from_product(levels, names=["Gender", "Status"])
df_carer_32.reset_index(inplace=True)
df_carer_32

Gender                      Index          Males  \
Status                             Primary carer
0                             NaN  Primary carer
1                 Lowest quintile           23.8
2                 Second quintile           36.5
3                  Third quintile           23.1
4                 Fourth quintile           11.3
..                            ...            ...
71                        Year 11           11.3
72               Year 10 or below             64
73           Level not determined           10.7
74      No educational attainment              0
75                          Total          241.9

Gender                                                                     \
Status  Carer, but not a primary carer  Total carers  Not a carer   Total
0       Carer, but not a primary carer  Total carers  Not a carer   Total
1                                 58.5          81.9        547.4     629
2                                 96.8         132.3        655.4   786.8
3                                 98.3           122       1167.8  1286.5
4                                102.5           115       1265.2  1379.2
..                                 ...           ...          ...     ...
71                                42.1          52.5        404.5   459.9
72                               170.5         236.8       1434.6  1667.8
73                                36.7          46.5        275.5   320.7
74                                 2.3           2.4         22.9      24
75                                 867        1109.3       8621.2  9729.5

Gender        Females                                                \
Status  Primary carer  Carer, but not a primary carer  Total carers
0       Primary carer  Carer, but not a primary carer  Total carers
1                70.3                            76.1         144.5
2               100.7                           107.3         209.1
3                73.4                           103.3         176.7
4                56.7                            96.9         153.6
..                ...                             ...           ...
71               24.4                              50          76.4
72              147.4                           183.8         329.9
73               21.7                            33.2          54.9
74                1.9                             2.6           4.9
75              618.8                           870.4          1487

Gender                          All persons                                  \
Status  Not a carer    Total  Primary carer  Carer, but not a primary carer
0       Not a carer    Total  Primary carer  Carer, but not a primary carer
1             626.4    773.3           91.5                           133.6
2             696.3    905.9            134                           204.1
3            1133.7   1311.9           96.6                           200.7
4            1237.5   1389.8           70.5                           197.6
..              ...      ...            ...                             ...
71            428.6    504.5             34                            92.6
72           1720.6   2050.6          212.8                           355.6
73            332.2    387.1           34.2                            70.3
74             41.7     45.8            3.5                             3.8
75           8594.9  10083.7          861.6                          1736.5

Gender
Status  Total carers  Not a carer   Total
0       Total carers  Not a carer   Total
1                227       1175.8  1401.9
2                339       1352.7  1690.8
3              296.9       2301.1  2599.3
4              266.4       2502.3  2768.6
..               ...          ...     ...
71               128        832.7   964.4
72             566.7       3152.1  3720.6
73             102.3          606   707.4
74               7.3           64    71.1
75            2596.7      17216.5   19811

[76 rows x 16 columns]

In [10]:
# Dropping useless rows
df_carer_32_1 =df_carer_32.copy()
df_carer_32_1.drop(labels=[0] , axis=0, inplace=True)
df_carer_32_1.reset_index(drop=True, inplace=True)
df_carer_32_1

Gender                      Index         Males  \
Status                            Primary carer
0                 Lowest quintile          23.8
1                 Second quintile          36.5
2                  Third quintile          23.1
3                 Fourth quintile          11.3
4                Highest quintile          18.3
..                            ...           ...
70                        Year 11          11.3
71               Year 10 or below            64
72           Level not determined          10.7
73      No educational attainment             0
74                          Total         241.9

Gender                                                                  \
Status Carer, but not a primary carer Total carers Not a carer   Total
0                                58.5         81.9       547.4     629
1                                96.8        132.3       655.4   786.8
2                                98.3          122      1167.8  1286.5
3                               102.5          115      1265.2  1379.2
4                                82.4        101.1      1342.8  1443.1
..                                ...          ...         ...     ...
70                               42.1         52.5       404.5   459.9
71                              170.5        236.8      1434.6  1667.8
72                               36.7         46.5       275.5   320.7
73                                2.3          2.4        22.9      24
74                                867       1109.3      8621.2  9729.5

Gender       Females                                                          \
Status Primary carer Carer, but not a primary carer Total carers Not a carer
0               70.3                           76.1        144.5       626.4
1              100.7                          107.3        209.1       696.3
2               73.4                          103.3        176.7      1133.7
3               56.7                           96.9        153.6      1237.5
4               42.9                           85.8        127.7      1210.6
..               ...                            ...          ...         ...
70              24.4                             50         76.4       428.6
71             147.4                          183.8        329.9      1720.6
72              21.7                           33.2         54.9       332.2
73               1.9                            2.6          4.9        41.7
74             618.8                          870.4         1487      8594.9

Gender            All persons                                              \
Status    Total Primary carer Carer, but not a primary carer Total carers
0         773.3          91.5                          133.6          227
1         905.9           134                          204.1          339
2        1311.9          96.6                          200.7        296.9
3        1389.8          70.5                          197.6        266.4
4        1339.2          59.4                          171.2        229.7
..          ...           ...                            ...          ...
70        504.5            34                           92.6          128
71       2050.6         212.8                          355.6        566.7
72        387.1          34.2                           70.3        102.3
73         45.8           3.5                            3.8          7.3
74      10083.7         861.6                         1736.5       2596.7

Gender
Status Not a carer   Total
0           1175.8  1401.9
1           1352.7  1690.8
2           2301.1  2599.3
3           2502.3  2768.6
4           2551.6  2781.4
..             ...     ...
70           832.7   964.4
71          3152.1  3720.6
72             606   707.4
73              64    71.1
74         17216.5   19811

[75 rows x 16 columns]

In [11]:
levels_names = df_carer_32_1['Index'].unique()
levels_names

array(['Lowest quintile', 'Second quintile', 'Third quintile',
       'Fourth quintile', 'Highest quintile', 'Income not known',
       'Median gross personal income per week ($)', 'Wages or salary',
       'Unincorporated business income',
       'Government pension or allowance', 'Other', 'Not stated',
       'Total employed', 'Total unemployed', 'Not in the labour force',
       'Participation rate (%)', 'Total', 'Full-time', 'Part-time',
       'Underemployed', 'Looking for full-time work only',
       'Looking for part-time work only',
       'Looking for full-time or part-time work', 'Unemployment rate (%)',
       'Owner without a mortgage', 'Owner with a mortgage',
       'State or territory housing authority', 'Other landlord',
       'Boarder', 'Rent free', 'Postgraduate Degree',
       'Graduate Diploma / Graduate Certificate', 'Bachelor Degree',
       'Advanced Diploma / Diploma', 'Certificate', 'Year 12', 'Year 11',
       'Year 10 or below', 'Level not determined',
       'No educational attainment'], dtype=object)

In [12]:
first_level = ['Male', 'Female', 'All persons']
first_level

['Male', 'Female', 'All persons']

In [13]:
second_level = ['State or territory of usual residence', 'Remoteness', 'Country']
second_level

['State or territory of usual residence', 'Remoteness', 'Country']

In [14]:
third_level = levels_names
third_level

array(['Lowest quintile', 'Second quintile', 'Third quintile',
       'Fourth quintile', 'Highest quintile', 'Income not known',
       'Median gross personal income per week ($)', 'Wages or salary',
       'Unincorporated business income',
       'Government pension or allowance', 'Other', 'Not stated',
       'Total employed', 'Total unemployed', 'Not in the labour force',
       'Participation rate (%)', 'Total', 'Full-time', 'Part-time',
       'Underemployed', 'Looking for full-time work only',
       'Looking for part-time work only',
       'Looking for full-time or part-time work', 'Unemployment rate (%)',
       'Owner without a mortgage', 'Owner with a mortgage',
       'State or territory housing authority', 'Other landlord',
       'Boarder', 'Rent free', 'Postgraduate Degree',
       'Graduate Diploma / Graduate Certificate', 'Bachelor Degree',
       'Advanced Diploma / Diploma', 'Certificate', 'Year 12', 'Year 11',
       'Year 10 or below', 'Level not determined',
       'No educational attainment'], dtype=object)

In [16]:
# Adding multiIndex (in index)
levels_1_1 = list(itertools.product([first_level[0]], [second_level[0]], third_level[:8]))
levels_1_2 = list(itertools.product([first_level[0]], [second_level[1]], third_level[8:11]))
levels_1_3 = list(itertools.product([first_level[0]], [second_level[2]], [third_level[-1]]))
levels_2_1 = list(itertools.product([first_level[1]], [second_level[0]], third_level[:8]))
levels_2_2 = list(itertools.product([first_level[1]], [second_level[1]], third_level[8:11]))
levels_2_3 = list(itertools.product([first_level[1]], [second_level[2]], [third_level[-1]]))
levels_3_1 = list(itertools.product([first_level[2]], [second_level[0]], third_level[:8]))
levels_3_2 = list(itertools.product([first_level[2]], [second_level[1]], third_level[8:11]))
levels_3_3 = list(itertools.product([first_level[2]], [second_level[2]], [third_level[-1]]))
levels_all = levels_1_1+levels_1_2+levels_1_3 + levels_2_1+levels_2_2+levels_2_3 + levels_3_1+levels_3_2+levels_3_3
# multi_index = pd.MultiIndex.from_tuples(levels_all, names=['Gender', 'Location 1', 'Location 2'])
# df_carer_32_1.set_index(keys=multi_index, drop=True, inplace=True)
# df_carer_32_1.drop(columns='Index', axis=1, level=0, inplace=True)
# df_carer_32_1
levels_all

[('Male', 'State or territory of usual residence', 'Lowest quintile'),
 ('Male', 'State or territory of usual residence', 'Second quintile'),
 ('Male', 'State or territory of usual residence', 'Third quintile'),
 ('Male', 'State or territory of usual residence', 'Fourth quintile'),
 ('Male', 'State or territory of usual residence', 'Highest quintile'),
 ('Male', 'State or territory of usual residence', 'Income not known'),
 ('Male',
  'State or territory of usual residence',
  'Median gross personal income per week ($)'),
 ('Male', 'State or territory of usual residence', 'Wages or salary'),
 ('Male', 'Remoteness', 'Unincorporated business income'),
 ('Male', 'Remoteness', 'Government pension or allowance'),
 ('Male', 'Remoteness', 'Other'),
 ('Male', 'Country', 'No educational attainment'),
 ('Female', 'State or territory of usual residence', 'Lowest quintile'),
 ('Female', 'State or territory of usual residence', 'Second quintile'),
 ('Female', 'State or territory of usual residence', 'Third quintile'),
 ('Female', 'State or territory of usual residence', 'Fourth quintile'),
 ('Female', 'State or territory of usual residence', 'Highest quintile'),
 ('Female', 'State or territory of usual residence', 'Income not known'),
 ('Female',
  'State or territory of usual residence',
  'Median gross personal income per week ($)'),
 ('Female', 'State or territory of usual residence', 'Wages or salary'),
 ('Female', 'Remoteness', 'Unincorporated business income'),
 ('Female', 'Remoteness', 'Government pension or allowance'),
 ('Female', 'Remoteness', 'Other'),
 ('Female', 'Country', 'No educational attainment'),
 ('All persons', 'State or territory of usual residence', 'Lowest quintile'),
 ('All persons', 'State or territory of usual residence', 'Second quintile'),
 ('All persons', 'State or territory of usual residence', 'Third quintile'),
 ('All persons', 'State or territory of usual residence', 'Fourth quintile'),
 ('All persons', 'State or territory of usual residence', 'Highest quintile'),
 ('All persons', 'State or territory of usual residence', 'Income not known'),
 ('All persons',
  'State or territory of usual residence',
  'Median gross personal income per week ($)'),
 ('All persons', 'State or territory of usual residence', 'Wages or salary'),
 ('All persons', 'Remoteness', 'Unincorporated business income'),
 ('All persons', 'Remoteness', 'Government pension or allowance'),
 ('All persons', 'Remoteness', 'Other'),
 ('All persons', 'Country', 'No educational attainment')]

## 3. Export Clean Data to a CSV file

In [ ]:
# Export full version
df_carer_32_1.to_csv('Output\EPIC4_T32_1_V1.csv', index=True)